/* element based cs */
body {
  margin: 0;
}

/* element based cs */
/* class-based below */
/*  dimensions begin*/
.bold {
  font-weight: bold;
}

.output {
  overflow-y: scroll;
}

.container {
  height: 100vh;
  width: 100vw;
}

.main {
  width: 100%;
  height: 90%;
  font-family: 'Quicksand', sans-serif;
}

.top {
  height: 20.5%;
  width: 100%;
  border: 3px solid red;
}

.bottom {
  height: 79.5%;
  width: 100%;
  border: 2px solid blue;
}

.cube {
  border: 2px dotted black;
  width: 90%;
  height: 45%;
}

/*  dimensions end */
.one {
  border-color: pink;
  width: 100%;
  height: 100%;
}

.two {
  border-color: orange;
}

.three {
  border-color: brown;
  height: 20%;
}

.four {
  border-color: purple;
  height: 75%;
}

.footer {
  opacity: .8;
  font-size: .6em;
  height: 10%;
  align-self: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-row {
  flex-direction: row;
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
  justify-content: space-evenly;
}

/*  */
/* MEDIA QUERIES: */
@media screen and (max-width: 400px) {
  /* phones */
  /* * {
    background-color: lightblue;
  } */
  /*  */
}

@media screen and (min-width: 401px) {
  /* tablet  */
  /* * {
    background-color: lightpink;
  } */
  /*  */
}

@media screen and (min-width: 768px) {
  /* laptop */
  /* * {
    background-color: lightgreen;
  } */
  /*  */
}

@media screen and (min-width: 1201px) {
  /* desktop */
  /* * {
    background-color: lightyellow;
  } */
  /*  */
}

.footer-github-button {
  display: inline-block;
  border: none;
  margin: 4px;
  padding: .6px 3px;
  font-weight: bold;
  opacity: .8;
  border-radius: 10px;
  border: white 1px solid;
  background-color: lightblue;
  text-shadow: 1px 1px 1px white;
}

.footer-github-button:hover {
  background-color: lightgreen;
}

.footer-github-button:active {
  background-color: lightpink;
}